.profile__add{
    max-width: 150px;
    width: 100%;
    min-height: 50px;
    background-image: url(../../../images/Vector.png);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    border: #fff 2px solid;
    align-self: center;
    border-radius: 2px;
    margin-left: auto;
}
.profile__add:hover{
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .profile__add {
        margin: 0 auto;
        justify-self: center;
        max-width: 282px;
    }
}