.popup__window {
    max-width: 430px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
@media screen and (max-width: 1280px) {
    .popup__window{
        max-width: calc(282px + (430 - 282) * ((100vw - 320px) / (1280 - 320)));
    }
}