.profile__photo{
    border-radius: 100%;
    max-width: 120px;
    align-self: center;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .profile__photo {
        margin-top: 5px;
    }
}
