.profile__photo{
    border-radius: 100%;
    max-width: 120px;
    align-self: center;
    width: 100%;
}
@media screen and (min-width: 1280px) {
    .profile__photo {
    margin-left: 200px;
    }
}
@media screen and (max-width: 1280px) {
    .profile__photo {
    margin-left: calc(27px + (200 - 27) * ((100vw - 320px) / (1280 - 320)));
    }
}
@media screen and (max-width: 696px) {
    .profile__photo {
        margin-left: 0;
    }
}